[Desktop Entry]
Type=Application
Name=hello_robot_startup_sound
Exec= canberra-gtk-play --id="system-ready"
Hidden=false
X-GNOME-Autostart-enabled=true
